@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
}

.navbar ul li {
    float: left;
    display: -webkit-flex;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
}

@media all and (max-width: 760px) {
    .hide-md-sm-devices {
        display: none;
    }
}

@media all and (min-width: 760px) {
    .hide-larger-screens {
        display: none
    }
}

.typewriter--effect {
    margin: auto;
    max-width: 598px;
}

.typewriter--effect h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #192a56; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    margin: 45px 0;
    font-size: 30px;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #192a56; }
}

@media all and (max-width: 450px) {
    .typewriter--effect {
        max-width: 340px;
    }
    .typewriter--effect h1 { font-size: 17px; margin: 20px 0; }
}

@media all and (max-width: 760px) and (min-width: 450px) {
    .typewriter--effect {
        max-width: 400px;
    }
    .typewriter--effect h1 { font-size: 20px; margin: 20px 0; }
}

@media all and (min-width: 1440px) {
   .xl-container {
       max-width: 1600px;
       margin: 0 auto;
   }
}