@import url('https://fonts.googleapis.com/css?family=Roboto'); /* Import of Roboto font*/

/* Reseting all CSS elements to border-box */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #273c75;
}

p {
    font-size: 16px;
    font-weight: normal;
}

/* Navigation bar */

.navbar ul li {
    float: left;
    display: -webkit-flex;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

.navbar ul li a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.navbar ul li a:active::before {
    background-color: #000;
}

.navbar ul li a:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.navbar {
    background: #192a56;
    height: 55px;
    color: #f5f6fa;
    display: flex;
    justify-content: center;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar ul {
    padding: 5px;
    display: inline;
}



/* Hidden on specific screen sizes */

@media all and (max-width: 1098px) {
    .hide-md-sm-devices {
        display: none;
    }
}

@media all and (min-width: 1098px) {
    .hide-larger-screens {
        display: none
    }
}

/* Typewriter effect */

.typewriter--effect {
    margin: auto;
    max-width: 598px;
}

.typewriter--effect h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #192a56; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    margin: 45px 0;
    font-size: 30px;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #192a56;
    }
}

@media all and (max-width: 450px) {
    .typewriter--effect {
        max-width: 340px;
    }

    .typewriter--effect h1 {
        font-size: 13px;
        margin: 20px 0;
    }

    .navbar ul li {
        padding: 5px 2px;
    }
}

@media all and (max-width: 760px) and (min-width: 450px) {
    .typewriter--effect {
        max-width: 400px;
    }

    .typewriter--effect h1 {
        font-size: 20px;
        margin: 20px 0;
    }
}

/* Containers */
@media all and (min-width: 1600px) {
    .xl-container {
        max-width: 1600px;
        margin: 0 auto;
    }
}

/**
 * Section About
 */

.about-page {
    position: relative;
}

.about-page::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    content: '';
    background-color: #000;
    min-height: 400px;
    background-image: url("https://images.unsplash.com/photo-1519670345864-d7d68dcd43ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=50e2325f9696b2103c9eb637d3c70103&auto=format&fit=crop&w=2090&q=80");
    background-repeat: no-repeat;
    background-position: bottom;
}

.section-about, .section-contact {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    font-family: "Open Sans", sans-serif;
    border-radius: 3px;
    min-height: 150px;
}

.section-contact h1 {
    text-align: center;
    font-size: 24px;
    line-height: 2;
}

.section-about .section-text-btn {
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 770px) {
    .section-about .section-box, .section-contact .section-box {
        margin: 0 auto;
        width: 85%;
    }
}

.section-about .section-box {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.section-about .profile {
    padding: 57px 50px 15px 50px;
}

.section-about .profile-photo {

    margin-bottom: 10px;
}

.section-about .profile-info {
    color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;
}

.profile-center {
    margin: 0 auto;
}

.section-about .profile-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-about .profile-title span {
    font-weight: 300;
}

.section-about .profile-position {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
}

.profile-photo {
    position: relative;
    cursor: pointer;
}

.profile-photo img {
    width: 100%;
    display: inline-block;
}

.profile-photo .photo-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-out, visibility .2s ease-out;
}

.profile-photo:hover .photo-hover {
    opacity: 1;
    visibility: visible;
}

.profile-items {
    margin-bottom: 18px;
}

.profile-preword {
    margin-bottom: 10px;
}

.profile-preword span {
    background-color: #07aaf5;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative;
}

.profile-preword span:before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
    border-left-color: #07aaf5;
}

.profile-share {
    float: right;
    line-height: 1;
    margin-bottom: 10px;
}

#profileShareBtn {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

#profileShareBtn:hover {
    opacity: 0.7;
}

#profileShareWrap {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 250ms ease-out;
    -moz-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out;
}

#profileShareWrap.opened {
    visibility: visible;
    opacity: 1;
}

.profile-share .rsicon {
    color: #b6b4b5;
    font-size: 29px;
    line-height: 29px;
    vertical-align: top;
}

.profile-share-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    overflow-y: auto;
}

.profile-share-table {
    display: table;
    height: 100%;
    width: 100%;
}

.profile-share-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 50px 20px;
}

#profileShareClose {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    position: absolute;
    right: -60px;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

#profileShareClose .rsicon {
    line-height: 38px;
}

#profileShareWrap {
    color: #3d4451;
}

.profile-share-inner {
    background: #fff;
    padding: 80px 20px;
    max-width: 500px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.profile-share-title {
    font-weight: 700;
    margin-bottom: 40px;
}

.profile-share-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile-share-list li {
    display: inline-block;
    margin: 10px;
}

.profile-share-list a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    color: #ffffff !important;
    background-color: #1f1f1f;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition: opacity 250ms ease-out;
    -moz-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out;
}

.profile-share-list a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.profile-share-list .rsicon-facebook {
    background-color: #2d5f9a;
}

.profile-share-list .rsicon-pinterest {
    background-color: #be1e2d;
}

.profile-share-list .rsicon-twitter {
    background-color: #00c3f3;
}

.profile-share-list .rsicon-youtube {
    background-color: #bb0000;
}

.profile-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile-list li {
    margin-bottom: 13px;
}

.profile-list .title {
    display: block;
    width: 120px;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.profile-list .cont {
    display: block;
    margin-left: 125px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #9da0a7;
}

.profile-list .cont a {
    color: inherit;
}

.profile-list .cont.profile-vacation {
    font-size: 14px;
}

.profile-list .button {
    background-color: #07aaf5;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: none;
    padding: 5px 8px;
    display: inline-block;
    position: relative;
    top: -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.section-about .profile img {
    width: 100%;
}

@media (min-width: 1200px) {
    .profile-photo {
        margin-right: 10% !important;
    }
}

.profile-list .rsicon {
    margin-right: 10px;
    vertical-align: baseline;
}

.profile-social {
    padding: 15px 0;
    background-color: #07aaf5;
}

@media (max-width: 992px) {
    .section-about .profile {
        padding: 50px 40px 15px 40px;
    }

    .section-about .profile-photo {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .section-about {
        padding-top: 0;
    }

    .section-about .profile {
        padding: 30px 20px 15px 20px;
    }

    .section-about .profile-photo {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-info {
        text-align: center;
    }

    .profile-preword {
        float: none;
    }

    .profile-preword span {
        min-width: 150px;
        padding: 9px 12px;
    }

    .profile-list .title, .profile-list .cont {
        width: 100%;
        float: none;
        line-height: 1.2;
    }

    .profile-list .title {
        margin-bottom: 3px;
    }

    .profile-list .cont {
        margin-left: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .section-about .row > div {
        width: 100%;
    }

    .section-about .profile-title {
        font-size: 28px;
    }
}

.about--content {
    width: 60%;
    margin: 35px auto;
    padding: 10px;
    color: #1f1f1f;
}

.about--content h1, .about--content h2, .about--content h3, .about--content h4, .about--content h5 {
    font-size: 22px;
    line-height: 2;
}

.about--content p {
    font-size: 19px;
    font-weight: 400;
}

@media all and (max-width: 660px) {
    .about--content {
        width: 96%;
        padding: 5px;
    }
}

@media all and (max-width: 960px) {
    .about--content {
        width: 85%;
        padding: 5px;
    }
}

.section-contact {
    margin-top: 20px;
    padding: 45px 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background: #fff;
}

/* Project boxes */

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 250px;
    background-color: #000;
    border-radius: 3px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.box h2 {
    opacity: 0;
    position: relative;
    transition: 0.3s all ease;
    padding-bottom: 5px;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    text-decoration: none;
    color: #f5f6fa;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.box:hover h2 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    color: #fff;
    font-size: 22px;
    margin-bottom: 3%;
    line-height: 0.5;
}

@media all and (max-width: 760px) {
    .box h2, .box:hover h2 {
        font-size: 20px;
        opacity: 1 !important;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    #box4 {
        background-image: url("../img/books.jpeg");
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #box1 {
        background-image: url('../img/Coffee.jpg');
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #box2 {
        background-image: url('../img/film.jpeg');
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #box5 {
        background-image: url("../img/restaurant.jpg");
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /*TODO: Experiment with this idea: https://css-tricks.com/almanac/properties/c/content/*/
    #box6 {
        background-image: url('../img/coding.jpeg');
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media all and (min-width: 760px) {
    #box1::before, #box2::before, #box3::before, #box4::before, #box5::before, #box6::before {
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
        -ms-transition: transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        content: '';
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #box1::before {
        background-image: url('../img/Coffee.jpg');
    }

    #box1:hover::before {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    #box2:before {
        background-image: url('../img/film.jpeg');
    }

    #box2:hover::before {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    #box4:before {
        background-image: url("../img/books.jpeg");
    }

    #box4:hover::before {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    #box5::before {
        background-image: url("../img/restaurant.jpg");
    }

    #box5:hover::before {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    #box6::before {
        background-image: url('../img/coding.jpeg');
    }

    #box6:hover::before {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
}

/* Header content */

.header {
    background: #fff;
    min-height: 55px;
}

/* Footer content */

.footer {
    background: #fff;
    width: 100%;
    min-height: 50px;
    padding: 15px 5px;
}

/* To display copyright info to the left */

.footer .left {
    float: left;
    margin-left: 20px;
}

/* To display and change look and feel to the right of Github, e.t.c. */

.footer .right {
    float: right;
    margin-right: 20px;
}

.footer .right a {
    padding: 0 10px;

}

/* Hero */

.hero {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

/* form starting stylings ------------------------------- */
.group {
    width: 50%;
    position: relative;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

input, textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus, textarea:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label, textarea:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after,
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight,
textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.btn {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 20px 30px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-size: 18px;
    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #27ae60;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}