.footer {
    background: #fff;
    width: 100%;
    min-height: 50px;
    padding: 15px 5px;
}

/* To display copyright info to the left */

.footer .left {
    float: left;
    margin-left: 20px;
}

/* To display and change look and feel to the right of Github, e.t.c. */

.footer .right {
    float: right;
    margin-right: 20px;
}

.footer .right a {
    padding: 0 10px;

}

